body{
background-color:#e6b800;
text-decoration-color: white;
margin-top: 100px  ;
margin-left:150px;
margin-right: 100px;
font-family: 'Ubuntu', sans-serif;
text-align:center;
}
h1{
  padding-bottom:50px;
  color: #4d94ff;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
.image1
{
  background-color:#c44dff;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.image2
{
  background-color:#1ac6ff;
  border-radius: 10px;
  margin-right: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.image3{
  background-color:#ff1a1a ;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.image4
{
  background-color:#00e64d;
  border-radius: 10px;
    margin-bottom: 20px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.link
{
  background-color: #1da3dd;
  border-radius: 40px;
  color:white;
  font-weight: 600;
  width:150px;
  display: inline-block;
  text-align: center;
  padding: 15px 0px;
  margin-top: 25px;
  text-decoration: none;
  outline: none;
}
/* questions*/
.heading

{
  text-align: center;
}
.container
{

  background-color: #c3edea;
  border-radius: 10px;
  height:400px;
   width:950px;
 margin-left: 80px;
  margin-bottom: 100px;

}
.top{
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.score,.timer{
  border:1px solid;
  border-radius: 100px;
  padding: 10px 15px;

}
.question{
  background-color: #00e64d;
  color:white;
  border-radius: 10px;
  padding: 10px 15px;

}
.options{
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 15px;
  margin: 30px 0;

}
.options span{
  background-color: #c44dff;
  color:white;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px 15px;
}
.bottom {

  padding: 7px 12px;
  margin-top: 10px;
  outline: none;
  font-size: 20px;
  border:0px;
  display: flex;
  justify-content: space-between;


}

.score,.timer{
  border:1px solid;
  border-radius: 100px;
  padding: 10px 15px;

}
.button1{

}
.h2{
border-top: 80px;
}
.result{
  margin-top: 50px;
  margin-right: 250px;

  border-radius: 10px;
  height:400px;
   width:950px;
   background-color: #ff8080;

  margin-bottom: 100px;
}
.rlink{

  background-color: #1da3dd;
  border-radius: 40px;
  color:white;
  font-weight: 600;
  width:150px;
  display: inline-block;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 100px;

  text-decoration: none;
  outline: none;
}
.resultbox
{
  margin-bottom: 30px;

  margin-right:200px;
  grid-row-gap: 2px;
  font-size: 20px;
  color:white;

}
.resulth4
{
  text-align: center;
}
.resdiv
{
  background-color: red;
  margin-left: 150px;
}
.resultbox span{
  font-weight:600;
  text-align: right;
}
